{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src={% static "jquery/jquery-1.11.3.min.js" %}></script>
    <script type="text/javascript" src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "visualize/css/visualize.css" %} rel="stylesheet" type="text/css">
  </head>
  <body style = "margin:1%"">
    <span id = {{error_type}}> </span>
    <h1 style="color:#6a778f;">ZoomMEM <small>Helping you understand c++ code!</h1>
    <h3 style="color:#B71427"> There was a {{error_type}} while trying to {{state}} your code :(</h3>
    <div class="alert alert-danger" role="alert" style="font-size:150%;">{{error}}</div>
    <h3 style="color:#6BB12F;text-align: center;"> don't give up you are only one bit away :) </h3>
    <button class = "btn btn-default btn-submit err-btn">try again!</button>

    <script type="text/javascript" src={% static "visualize/js/visualize.js" %}></script>
  </body>
</html>
