{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src={% static "jquery/jquery-1.11.3.min.js" %}></script>

    <link href={% static "codemirror/codemirror.css" %} rel="stylesheet">

    <script type="text/javascript" src={% static "codemirror/codemirror.js" %}></script>
    <script type="text/javascript" src={% static "codemirror/clike.js" %}></script>
    <script type="text/javascript" src={% static "codemirror/placeholder.js" %}></script>

    <script type="text/javascript" src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">


    <link href={% static "visualize/css/visualize.css" %} rel="stylesheet" type="text/css">

    <style type="text/css">
      .CodeMirror { border: 1px solid silver; }
      .CodeMirror {width:100%}
      .CodeMirror {height:50vh}
    </style>
  </head>

  <body >
    <h1 style="margin-left:1%;color:#6a778f;"> <img style="width:30vh;float:left;margin-right:1vh;" src="{% static "img/zoomem.png" %}" alt="colors" /><small>Helping you understand C++ code! <img style="margin:1vh;width:45vh;height:3vh;float:right;" src="{% static "img/sample.png" %}" alt="colors" /></h1>
      <form method = "post" action =  "/visualize/submit">{% csrf_token %}
        <pre>
          <textarea id="code" name="code" placeholder="Paste your code here">{{code}}</textarea>
          <textarea name = "input" class = "input_area" placeholder="Paste your code input here">{{input}}</textarea>
          <input type="submit" value="Submit"  class="btn-submit btn btn-default home_btn">
          <input type="hidden" name="session_id" value='{{session_id}}'>
        </pre>
    </form>
    <script type="text/javascript" src={% static "visualize/js/visualize.js" %}></script>
    <script>
      var cppEditor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-c++src"
      });
    </script>

    </script>
  </body>
</html>
