{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script type="text/javascript" src={% static "jquery/jquery-1.11.3.min.js" %}></script>

    <link href={% static "codemirror/codemirror.css" %} rel="stylesheet">
    <script type="text/javascript" src={% static "codemirror/codemirror.js" %}></script>
    <script type="text/javascript" src={% static "codemirror/clike.js" %}></script
    <script type="text/javascript" src={% static "codemirror/placeholder.js" %}></script>

    <script type="text/javascript" src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

    <script type="text/javascript" src={% static "visualize/js/graph_bulider.js" %}></script>

    <link href={% static "visualize/css/visualize.css" %} rel="stylesheet" type="text/css">
    <style type="text/css">
      .CodeMirror { border: 1px solid silver; }
      .CodeMirror {width:25%}
      .CodeMirror {height:600px}
      .CodeMirror {float:left}
      .CodeMirror pre.CodeMirror-placeholder { color: #999; }
    </style>
  </head>

  <body>
    <div  class = ".highlighted_code">
      <textarea id="cpp-code">{{code}}</textarea>
      <div class id="drawArea" class = "graph_  area">
        <canvas id="cvs" width="720px" height="600px"></canvas>
        <div id="bug">debug</div>
      </div>
    </div>

  <div class="center-block">
    <div class="row" style = "margin:1%;">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id = "prev">Prev</button>
          </span>
          <input type="text" class="form-control" id = "step" placeholder="Number of steps goes here default is 1">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id = "next">Next</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div>
    <textarea class = "output" readonly placeholder="code output goes here"> </textarea>
  <script type="text/javascript" src={% static "visualize/js/visualize.js" %}></script>
  </body>
</html>
