{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src={% static "jquery/jquery-1.11.3.min.js" %}></script>

    <script type="text/javascript" src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

    <script type="text/javascript" src={% static "graph_vis/js/raphael-min.js" %}></script>
    <script type="text/javascript" src={% static "graph_vis/js/dracula_graffle.js" %}></script>
    <script type="text/javascript" src={% static "graph_vis/js/dracula_graph.js" %}></script>
    <script type="text/javascript" src={% static "graph_vis/js/dracula_algorithms.js" %}></script>

    <script type="text/javascript" src={% static "visualize/js/graph_bulider.js" %}></script>


  </head>
  <body>
    <div id="drawArea"></div>
    <script>
    var ed = []
    {% for edge in edges %}
      ed.push([])
      {% for command in edge %}
        var s = ""
        {% for char in command %}
          s+= "{{char}}"
        {% endfor %}
        ed[ed.length-1].push(s)
      {% endfor %}
    {% endfor %}
    drawGraph(ed)
    </script>

    <!--<button id="redraw" onclick="redraw();">redraw</button>-->
  </body>
</html>
